@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SignalR</h1>
    <p class="lead">
        此範例使用ASP.NET Identity + SignalR
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1. 設置環境</h2>
        <p>
            <ul>
                <li>設置資料庫及連線字串</li>
                <li>註冊帳號:Demo@gmail.com</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>2. QRCode登入</h2>
        <p>
            使用手機軟體掃描QRCode可自動登入網頁
        </p>
    </div>
    <div class="col-md-4">
        <h2>3. 聊天室</h2>
        <p>
            Realtime chatroom
        </p>
    </div>
</div>